
/* NAVBAR */
.header-section {
    background-color: #F6F7FB;
    padding: 20px;
}

.btn-primary {
    border-radius: 12px !important; 
    background-color: #F18821;
    outline: none;
    border: none; 
    box-shadow: none; 
}

.btn-primary:focus {
    outline: none; 
    box-shadow: none; 
}

.form-control {
    border-radius: 15px; 
}

.fw-semibold {
   color: #164444; 
}

.active-link {
    border-bottom: 3px solid #F18821; 
}

.btn-login {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #F18821; 
  color: white; 
  border: none; 
}

.btn-login:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #F18821; 
  color: white; 
}



/* LANDING */

.hero {
    text-align: center;
    background-image: url('/images/vector.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }
  
  .hero img {
    max-width: 100%;
  }
  .hero h1 {
    font-size: 64px;
    color: #164444;
  }

  .hero span{
    color: #F18821;
  }

  .hero p {
    color: #F18821;
  }

 .btn-cta {
    background-color: #164444;
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    border: none; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.btn-cta:hover {
    background-color: transparent; 
    color: #164444; 
    border: 2px solid #164444;
}

.welcoming-session {
  background-color: #F18821; 
  padding: 20px; 
  border-radius: 20px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.welcoming-session:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}


  .package-section {
    background-color: white;
    padding: 40px 0;
  }
  .package-card {
    background-color: white;
    padding: 15px; 
    border-radius: 8px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    max-width: 700px; 
    margin: 0 auto;
}

.package-image {
    width: 100%; 
    height: auto; 
    max-height: 300px; 
    object-fit: cover; 
}

.package-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3); 
}


  .about-section {
    background-color: #F18821;
    padding: 40px;
    color: white;
    text-align: center;
  }
  footer {
    background-color: #F18821;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
  }

